
.cke_contents{
    height :60%!important;
}
.file-drop-zone-title{padding: 10px!important;}
.kv-fileinput-caption{
    margin-top: 0.8rem;
}
.input-group-append{
    margin: 0!important;
    padding: 0!important;
}
